@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply min-h-screen;
  }

  /* Prevent autofill from changing email/password input backgrounds */
  input[type="email"]:-webkit-autofill,
  input[type="password"]:-webkit-autofill,
  input[type="email"]:-webkit-autofill:hover,
  input[type="password"]:-webkit-autofill:hover,
  input[type="email"]:-webkit-autofill:focus,
  input[type="password"]:-webkit-autofill:focus,
  input[type="email"]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #020202 inset !important;
    box-shadow: 0 0 0 1000px #020202 inset !important;
    -webkit-text-fill-color: #ffffff !important;
    background-color: #020202 !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
